.icon-copy:before {
    content: "\e92c";
}

.codestyle-pre-div {
    position: relative;
    &:hover .codestyle-copy-btn {
        display: block;
    }
}

.codestyle-copy-btn {
    position: absolute !important;
    right: 10px;
    top: 10px;
    z-index: 9999;
    display: none;
}